// colors
$accentColor = #fb4934
$textColor = #1d2021
$borderColor = #a89984
$codeBgColor = #282828
$arrowBgColor = #a89984

$postTagBgColor = #a89984
$postTagColor = #fff

$bgColor = #fff
$pageBgColor = #f0ebeb

// page
$headerBackgroundColor = #83a598
$headerColor = #fff

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
